<?xml version="1.0" encoding="iso-8859-1"?>
<!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 501 501" style="enable-background:new 0 0 501 501;" xml:space="preserve" preserveAspectRatio="none">
<g>
	<polygon class="left" style="fill:#FFCD00;" points="501,194 335,159 250,12 250,419 405,489 387,320 	"/>
	<polygon  class="right"  style="fill:#FFDA44;" points="166,159 0,194 113,320 95,489 250,419 250,12 	"/>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
